@import 'tailwindcss';

/* Enable class-based dark mode for Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* Custom Blue Colors for Tailwind v4 */
@theme {
    --color-dark-blue-1: #1864ab;
    --color-dark-blue-2: #183153;
    --color-light-blue-1: #a5d8ff;
    --color-light-blue-2: #74c0fc;
}